form {
  text-align: center;
}
.Button {
  border-radius: 15px;
  border: none;
  background-color: #6ac1b8;
  padding: 5px 20px;
  color: white;
  transition: all 200ms ease-in-out;
}
.Button:hover {
  opacity: 0.5;
}
.SearchBox {
  border-radius: 15px;
  border: 2px solid #6ac1b8;
  padding: 3px 20px;
}
