
.Box {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  padding: 50px;
  margin: 50px auto 0;
  border-radius: 5px;
  max-width: 650px;
}
form {
  text-align: center;
}
.Button {
  border-radius: 15px;
  border: none;
  background-color: #7694bf;
  padding: 5px 20px;
  color: white;
  transition: all 200ms ease-in-out;
}
.Button:hover {
  opacity: 0.5;
}
.SearchBox {
  border-radius: 15px;
  border: 2px solid #7694bf;
  padding: 3px 20px;
}
h1 {
  text-align: center;
  margin-top: 10px;
}
h2 {
  text-align: center;
}
li {
  text-align: center;
  list-style: none;
}
.CurrentEmoji canvas {
  display: block;
  margin: 0 auto;
}
.Factors {
  margin-top: 10px;
  opacity: 0.7;
}
#Conditions {
  text-align: center;
  font-size: 22px;
  opacity: 0.7;
}